<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4uEORtYeGMVzRXnEclfdt0qCCIs0-Ubg</string>
	<key>GCM_SENDER_ID</key>
	<string>392082768916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doAnMoHinh</string>
	<key>PROJECT_ID</key>
	<string>doan-lt-nhung</string>
	<key>STORAGE_BUCKET</key>
	<string>doan-lt-nhung.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392082768916:ios:8832bd420282c0667f9301</string>
</dict>
</plist>